{% extends "base.html" %}
{% load static %}

{% block content %}
    {%  if not user.is_authenticated %}
        <div class="card">
            <div class="card-header">
                <h2>Login</h2>
            </div>
            <div class="card-content">
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"
                        class="btn btn-primary"
                        id="logout-button">
                        Login
                </button>
            </form>
            </div>
        </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="card">
            <div class="card-header">
                <img src="../static/images/triban.jpg" alt="card-image" class="card-image"/>
            </div>
            <div class="card-content">
                <h2>Welcome Back!</h2>
                <h3>Use the navigation bar above to navigate</h3>
                <br>
                <a href="{% url 'logout' %}">
                    <button type="button"
                            class="btn btn-primary"
                            id="logout-button">
                            Logout
                    </button>
                </a>
            </div>
        </div>
    {% endif %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}