<!DOCTYPE html>
{% load leaflet_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Track My Bike</title>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
       integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
       crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
       integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
       crossorigin=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
    <div id="map" style="height: 400px; width: 800px; margin-left: auto; margin-right: auto "></div>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([53.3498, -6.2603], 13);
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

        var dataurl = "{% url 'data' %}";
        // Download GeoJSON via Ajax
        $.getJSON(dataurl, function (data) {
            // Add GeoJSON layer
            L.geoJson(data).addTo(map);
        });

        var markerClusters = L.markerClusterGroup();

        for ( var i = 0; i < markers.length; ++i )
        {
          var popup = markers[i].name +
                      '<br/>' + markers[i].geom;

          var m = L.marker( [markers[i].lat, markers[i].lng], {icon: myIcon} )
                          .bindPopup( popup );

          markerClusters.addLayer( m );
        }

        map.addLayer( markerClusters );

        function onLocationFound(e) {
                var radius = e.accuracy / 2;

                L.marker(e.latlng).addTo(map)
                    .bindPopup("You are within " + radius + " meters from this point").openPopup();

                L.circle(e.latlng, radius).addTo(map);
            }


	        function onLocationError(e) {
                alert(e.message);
            }

            map.on('locationfound', onLocationFound);
            map.on('locationerror', onLocationError);
    </script>
</body>
</html>