body {
    padding: 0;
    margin: 0;
    background-color: red;
}
html, body, #map {
    height: 100%;
    width: 100vw;
    background-color: #aaaaaa;
}

#heading{
    width: 100%;
    background-color: #76A6FC;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 125px;
    padding: 10px;
}

.nav{
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

#create:hover {
    background-color: #777;
}

#showAll:hover {
    background-color: #777;
}

a {
    color: white; text-decoration: none;
}

.panel-default{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.btn-group-vertical{
    width: 100%;
}

.btn-primary{
    border-radius: 0 !important;
}

.sub{
    background-color: #777777 !important;
    border-radius: 0 !important;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
}

#create-route-button{
    background-color: green !important;
    width: 50%;
    border-radius: 0 !important;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
}

#reset-route-button{
    background-color: red !important;
    border-radius: 0 !important;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 50%;
}

#reset-map-button{
    background-color: red !important;
    border-radius: 0 !important;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
}

#start{
    width: 100%;
}
